<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.car.mapper.master.CarRichContentMapper">
    
    <resultMap type="com.ruoyi.car.domain.CarRichContentEntity" id="CarRichContentResult">
        <id     property="id"           column="id"           />
        <result property="title"        column="title"        />
        <result property="content"      column="content"      />
        <result property="contentType"  column="contentType"  />
        <result property="showOrder"    column="showOrder"    />
        <result property="delFlag"      column="delFlag"      />
        <result property="createTime"   column="createTime"   />
    </resultMap>
    
    <sql id="selectCarRichContentVo">
        select id, title, content, contentType, showOrder, delFlag, createTime 
        from car_rich_content
    </sql>
    
    <select id="selectAll" resultMap="CarRichContentResult">
        <include refid="selectCarRichContentVo"/>
        where delFlag = 0 or delFlag is null
        order by showOrder asc, createTime desc
    </select>
    
    <select id="selectById" parameterType="Long" resultMap="CarRichContentResult">
        <include refid="selectCarRichContentVo"/>
        where id = #{id} and (delFlag = 0 or delFlag is null)
    </select>
    
    <select id="selectByContentType" parameterType="Integer" resultMap="CarRichContentResult">
        <include refid="selectCarRichContentVo"/>
        where contentType = #{contentType} and (delFlag = 0 or delFlag is null)
        order by showOrder asc, createTime desc
    </select>
    
    <select id="selectByContentTypeOrderByShowOrder" parameterType="Integer" resultMap="CarRichContentResult">
        <include refid="selectCarRichContentVo"/>
        where contentType = #{contentType} and (delFlag = 0 or delFlag is null)
        order by showOrder asc, createTime desc
    </select>
    
    <select id="selectCarRichContentList" parameterType="com.ruoyi.car.domain.CarRichContentEntity" resultMap="CarRichContentResult">
        <include refid="selectCarRichContentVo"/>
        <where>
            (delFlag = 0 or delFlag is null)
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="contentType != null">
                AND contentType = #{contentType}
            </if>
        </where>
        order by showOrder asc, createTime desc
    </select>
    
    <insert id="insert" parameterType="com.ruoyi.car.domain.CarRichContentEntity" useGeneratedKeys="true" keyProperty="id">
        insert into car_rich_content
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null">content,</if>
            <if test="contentType != null">contentType,</if>
            <if test="showOrder != null">showOrder,</if>
            <if test="delFlag != null">delFlag,</if>
            <if test="createTime != null">createTime,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="contentType != null">#{contentType},</if>
            <if test="showOrder != null">#{showOrder},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    
    <update id="updateById" parameterType="com.ruoyi.car.domain.CarRichContentEntity">
        update car_rich_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="contentType != null">contentType = #{contentType},</if>
            <if test="showOrder != null">showOrder = #{showOrder},</if>
            <if test="delFlag != null">delFlag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="deleteById" parameterType="Long">
        update car_rich_content set delFlag = 1 where id = #{id}
    </update>
    
</mapper>
