<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.carce.sale.mapper.manager.CarStoreInfoMapper">


    <!-- 批量插入门店信息 -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO car_store_list (CvsType, StoreId, StoreName, StoreAddr, StorePhone)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
                #{item.cvsType},
                #{item.storeId},
                #{item.storeName},
                #{item.storeAddr},
                #{item.storePhone}
            )
        </foreach>
    </insert>


</mapper>
