<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.carce.sale.mapper.carcecloud.CarMapper">
    
    <select id="selectCarBaseInfoBySaleId" resultType="cc.carce.sale.dto.CarBaseInfoDto">
        SELECT
        cb.brand,-- 品牌
        c.manufacture_year,-- 出厂年
        c.displacement,-- 排气量
        c.fuel_system,-- 燃料系统
        c.transmission,-- 变速系统
        c.color,-- 颜色
        c.door_count,-- 车门数
        c.passenger_count,-- 乘坐人数
        cs.sale_price,-- 售价
        cs.sale_title,-- 标题
        cs.sale_description,-- 详情
        cs.mileage,-- 公里数
        cs.car_location_city AS location_name,-- 地点
        cs.id_garage as garage_id,
        -- cl.`name` AS location_name,
		cm.model as custom_model
        FROM
        cars c
        LEFT JOIN car_brand cb ON cb.id = c.id_brand
        LEFT JOIN car_sales cs ON c.id = cs.car_id
        left join car_model cm on c.id_model = cm.id
        where
        cs.id = #{saleId}
        LIMIT 1;
    </select>
    
    <select id="selectCarBaseInfoByUid" resultType="cc.carce.sale.dto.CarBaseInfoDto">
        SELECT
        cb.brand,-- 品牌
        c.manufacture_year,-- 出厂年
        c.displacement,-- 排气量
        c.fuel_system,-- 燃料系统
        c.transmission,-- 变速系统
        c.color,-- 颜色
        c.door_count,-- 车门数
        c.passenger_count,-- 乘坐人数
        cs.sale_price,-- 售价
        cs.sale_title,-- 标题
        cs.sale_description,-- 详情
        cs.mileage,-- 公里数
        cs.car_location_city AS location_name,-- 地点
        cs.id_garage as garage_id,
        -- cl.`name` AS location_name,
		cm.model as custom_model
        FROM
        cars c
        LEFT JOIN car_brand cb ON cb.id = c.id_brand
        LEFT JOIN car_sales cs ON c.id = cs.car_id
        left join car_model cm on c.id_model = cm.id
        WHERE
        cs.uid = #{uid}
        LIMIT 1;
    </select>

    <select id="selectCarEquipmentBySaleId" resultType="cc.carce.sale.entity.dto.CarEquipment">
        SELECT
        *
        FROM
        equipment_items ei
        WHERE
        ei.id IN (
        SELECT
        ce.equipment_item_id
        FROM
        car_equipments ce
        WHERE
        ce.car_sale_id = #{saleId})
    </select>
    
    <select id="selectCarEquipmentByUid" resultType="cc.carce.sale.entity.dto.CarEquipment">
        SELECT
        *
        FROM
        equipment_items ei
        WHERE
        ei.id IN (
        SELECT
        ce.equipment_item_id
        FROM
        car_equipments ce
        WHERE
        ce.car_sale_id = (select id from car_sales cs where cs.uid = #{uid}))
    </select>

    <select id="selectCarGuaranteeBySaleId" resultType="cc.carce.sale.entity.dto.CarGuarantee">
        SELECT
        gi.*
        FROM
        guarantee_items gi
        WHERE
        gi.id IN (
        SELECT
        cg.guarantee_item_id
        FROM
        car_guarantees cg
        WHERE
        cg.car_sale_id = #{saleId});
    </select>
    
    <select id="selectCarGuaranteeByUid" resultType="cc.carce.sale.entity.dto.CarGuarantee">
        SELECT
        gi.*
        FROM
        guarantee_items gi
        WHERE
        gi.id IN (
        SELECT
        cg.guarantee_item_id
        FROM
        car_guarantees cg
        WHERE
        cg.car_sale_id = (select id from car_sales cs where cs.uid = #{uid}));
    </select>
    
    <!-- 车辆列表查询，包含封面图片 -->
    <select id="selectCarListWithCover" resultType="cc.carce.sale.dto.CarListDto">
        SELECT
        cs.id,
        cs.uid,
        cs.car_id as carId,
        cb.brand,
        COALESCE(cm.model, c.custom_model) as model,
        c.manufacture_year as manufactureYear,
        cs.sale_price as salePrice,
        cs.sale_title as saleTitle,
        cs.sale_description as saleDescription,
        cs.mileage,
        c.transmission,
        c.fuel_system as fuelSystem,
        c.color,
        cs.car_location_city as locationName,
        csp.photo_url as coverImage,
        cs.status,
        cs.id_garage as garageId
        FROM
        car_sales cs
        LEFT JOIN cars c ON c.id = cs.car_id
        LEFT JOIN car_brand cb ON cb.id = c.id_brand
        LEFT JOIN car_model cm ON cm.id = c.id_model
        LEFT JOIN car_sale_photos csp ON csp.car_sales_id = cs.id AND csp.is_cover = 1
        WHERE
        cs.is_admin_check = 1
        and cs.is_publish = 1
        <if test="brand != null and brand.size() > 0">
            AND cb.brand IN
            <foreach collection="brand" item="brandName" open="(" separator="," close=")">
                #{brandName}
            </foreach>
        </if>
        <if test="model != null and model != ''">
            AND (cm.model = #{model} OR c.custom_model = #{model})
        </if>
        <if test="year != null">
            AND c.manufacture_year = #{year}
        </if>
        <if test="yearFrom != null">
            AND (
                CASE 
                    WHEN c.manufacture_year LIKE '____-__-__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y-%m-%d'))
                    WHEN c.manufacture_year LIKE '____/__/__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y/%m/%d'))
                    WHEN c.manufacture_year REGEXP '^[0-9]{4}$'
                    THEN CAST(c.manufacture_year AS UNSIGNED)
                    ELSE NULL
                END
            ) >= #{yearFrom}
        </if>
        <if test="yearTo != null">
            AND (
                CASE 
                    WHEN c.manufacture_year LIKE '____-__-__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y-%m-%d'))
                    WHEN c.manufacture_year LIKE '____/__/__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y/%m/%d'))
                    WHEN c.manufacture_year REGEXP '^[0-9]{4}$'
                    THEN CAST(c.manufacture_year AS UNSIGNED)
                    ELSE NULL
                END
            ) &lt;= #{yearTo}
        </if>
        <if test="priceMin != null">
            AND cs.sale_price >= #{priceMin}
        </if>
        <if test="priceMax != null">
            AND cs.sale_price &lt;= #{priceMax}
        </if>
        <if test="displacementFrom != null">
            AND c.displacement >= #{displacementFrom}
        </if>
        <if test="displacementTo != null">
            AND c.displacement &lt;= #{displacementTo}
        </if>
        <if test="color != null and color != ''">
            AND c.color = #{color}
        </if>
        <if test="locations != null and locations.size() > 0">
            AND cs.car_location_city IN
            <foreach collection="locations" item="location" open="(" separator="," close=")">
                #{location}
            </foreach>
        </if>
        <if test="transmission != null and transmission.size() > 0">
            AND c.transmission IN
            <foreach collection="transmission" item="trans" open="(" separator="," close=")">
                #{trans}
            </foreach>
        </if>
        <if test="drivetrain != null and drivetrain.size() > 0">
            AND c.drivetrain IN
            <foreach collection="drivetrain" item="drive" open="(" separator="," close=")">
                #{drive}
            </foreach>
        </if>
        <if test="fuelSystem != null and fuelSystem.size() > 0">
            AND c.fuel_system IN
            <foreach collection="fuelSystem" item="fuel" open="(" separator="," close=")">
                #{fuel}
            </foreach>
        </if>
        <if test="idGarage != null">
            AND cs.id_garage = #{idGarage}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (cs.sale_title LIKE CONCAT('%', #{keyword}, '%') 
                 OR cs.sale_description LIKE CONCAT('%', #{keyword}, '%')
                 OR cb.brand LIKE CONCAT('%', #{keyword}, '%')
                 OR cm.model LIKE CONCAT('%', #{keyword}, '%')
                 OR c.custom_model LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <choose>
            <when test="sortBy == 'price-low'">
                ORDER BY cs.sale_price ASC
            </when>
            <when test="sortBy == 'price-high'">
                ORDER BY cs.sale_price DESC
            </when>
            <when test="sortBy == 'year-new'">
                ORDER BY c.manufacture_year DESC
            </when>
            <otherwise>
                ORDER BY cs.c_dt DESC
            </otherwise>
        </choose>
    </select>
    
    <!-- 查询变速系统选项 -->
    <select id="selectDistinctTransmissions" resultType="java.lang.String">
        SELECT DISTINCT c.transmission 
        FROM cars c
        INNER JOIN car_sales cs ON c.id = cs.car_id
        WHERE cs.is_admin_check = 1
        and cs.is_publish = 1
        AND c.transmission IS NOT NULL 
        AND c.transmission != ''
        ORDER BY c.transmission ASC
    </select>
    
    <!-- 查询驱动方式选项 -->
    <select id="selectDistinctDrivetrains" resultType="java.lang.String">
        SELECT DISTINCT c.drivetrain 
        FROM cars c
        INNER JOIN car_sales cs ON c.id = cs.car_id
        WHERE  cs.is_admin_check = 1
        and cs.is_publish = 1
        AND c.drivetrain IS NOT NULL 
        AND c.drivetrain != ''
        ORDER BY c.drivetrain ASC
    </select>
    
    <!-- 查询燃料系统选项 -->
    <select id="selectDistinctFuelSystems" resultType="java.lang.String">
        SELECT DISTINCT c.fuel_system 
        FROM cars c
        INNER JOIN car_sales cs ON c.id = cs.car_id
        WHERE cs.is_admin_check = 1
        AND cs.is_publish = 1
        AND c.fuel_system IS NOT NULL 
        AND c.fuel_system != ''
        ORDER BY c.fuel_system ASC
    </select>
    
    <!-- 查询车色选项 -->
    <select id="selectDistinctColors" resultType="java.lang.String">
        SELECT DISTINCT c.color 
        FROM cars c
        INNER JOIN car_sales cs ON c.id = cs.car_id
        WHERE cs.is_admin_check = 1
        AND cs.is_publish = 1
        AND c.color IS NOT NULL 
        AND c.color != ''
        ORDER BY c.color ASC
    </select>
    
    <!-- 查询车辆所在地选项 -->
    <select id="selectDistinctLocationCities" resultType="java.lang.String">
        SELECT DISTINCT cs.car_location_city 
        FROM car_sales cs
        WHERE cs.is_admin_check = 1
        AND cs.is_publish = 1
        AND cs.car_location_city IS NOT NULL 
        AND cs.car_location_city != ''
    </select>
    
    <!-- 根据品牌查询型号列表 -->
    <select id="selectModelsByBrand" resultType="java.lang.String">
        SELECT DISTINCT 
            CASE 
                WHEN c.id_model = 0 OR c.id_model IS NULL THEN c.custom_model
                ELSE cm.model
            END as model
        FROM car_sales cs
        INNER JOIN cars c ON c.id = cs.car_id
        LEFT JOIN car_brand cb ON cb.id = c.id_brand
        LEFT JOIN car_model cm ON cm.id = c.id_model
        WHERE cs.is_admin_check = 1
        AND cs.is_publish = 1
        AND cb.brand = #{brand}
        AND (
            (c.id_model = 0 OR c.id_model IS NULL) AND c.custom_model IS NOT NULL AND c.custom_model != ''
            OR
            (c.id_model != 0 AND c.id_model IS NOT NULL) AND cm.model IS NOT NULL AND cm.model != ''
        )
        ORDER BY model ASC
    </select>
    
    <!-- 查询出厂年份范围（最大值和最小值） -->
    <select id="selectManufactureYearRange" resultType="java.util.Map">
        SELECT 
            MIN(
                CASE 
                    WHEN c.manufacture_year LIKE '____-__-__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y-%m-%d'))
                    WHEN c.manufacture_year LIKE '____/__/__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y/%m/%d'))
                    WHEN c.manufacture_year REGEXP '^[0-9]{4}$'
                    THEN CAST(c.manufacture_year AS UNSIGNED)
                    ELSE NULL
                END
            ) as minYear,
            MAX(
                CASE 
                    WHEN c.manufacture_year LIKE '____-__-__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y-%m-%d'))
                    WHEN c.manufacture_year LIKE '____/__/__' 
                    THEN YEAR(STR_TO_DATE(c.manufacture_year, '%Y/%m/%d'))
                    WHEN c.manufacture_year REGEXP '^[0-9]{4}$'
                    THEN CAST(c.manufacture_year AS UNSIGNED)
                    ELSE NULL
                END
            ) as maxYear
        FROM cars c
        INNER JOIN car_sales cs ON c.id = cs.car_id
        WHERE cs.is_admin_check = 1
        AND cs.is_publish = 1
        AND c.manufacture_year IS NOT NULL
        AND c.manufacture_year != ''
        AND (
            c.manufacture_year LIKE '____-__-__' 
            OR c.manufacture_year LIKE '____/__/__'
            OR c.manufacture_year REGEXP '^[0-9]{4}$'
        )
    </select>
    
    <!-- 根据ID列表查询推荐车辆列表，包含封面图片 -->
    <select id="selectRecommendedCarListWithCover" resultType="cc.carce.sale.dto.CarListDto">
        SELECT
        cs.id,
        cs.uid,
        cs.car_id as carId,
        cb.brand,
        COALESCE(cm.model, c.custom_model) as model,
        c.manufacture_year as manufactureYear,
        cs.sale_price as salePrice,
        cs.sale_title as saleTitle,
        cs.sale_description as saleDescription,
        cs.mileage,
        c.transmission,
        c.fuel_system as fuelSystem,
        c.color,
        cs.car_location_city as locationName,
        csp.photo_url as coverImage,
        cs.status,
        cs.id_garage as garageId
        FROM
        car_sales cs
        LEFT JOIN cars c ON c.id = cs.car_id
        LEFT JOIN car_brand cb ON cb.id = c.id_brand
        LEFT JOIN car_model cm ON cm.id = c.id_model
        LEFT JOIN car_sale_photos csp ON csp.car_sales_id = cs.id AND csp.is_cover = 1
        WHERE
        cs.is_admin_check = 1
        and cs.is_publish = 1
        <if test="ids != null and ids.size() > 0">
            AND cs.id IN
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            ORDER BY FIELD(cs.id,
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
            )
        </if>
        <if test="ids == null or ids.size() == 0">
            ORDER BY cs.c_dt DESC
        </if>
    </select>
    
</mapper>