<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.carce.sale.mapper.carcecloud.CarProductsMapper">
    
    <!-- 根据商品ID查询商品的所有图片ID -->
    <select id="selectImageIdsByProductId" resultType="java.lang.Long">
        SELECT 
            pp.id_pimage
        FROM 
            products_pimages pp
        WHERE 
            pp.id_product = #{productId}
        ORDER BY 
            pp.id ASC
    </select>
    
    <!-- 根据商品ID查询商品的所有图片信息 -->
    <select id="selectImagesByProductId" resultType="cc.carce.sale.entity.PimagesEntity">
        SELECT 
            p.id,
            p.filename,
            p.filepath,
            p.filesize,
            p.mime_type as mimeType,
            p.c_dt as cDt,
            p.u_dt as uDt
        FROM 
            pimages p
        INNER JOIN 
            products_pimages pp ON p.id = pp.id_pimage
        WHERE 
            pp.id_product = #{productId}
        ORDER BY 
            pp.id ASC
    </select>
    
</mapper>

